.topLeft{
    position: absolute;
    top: 150px;
    left: 80px;
  }
  .phrase {
    font-family: 'Zilla Slab Highlight', cursive;
    color: white;
  }
  .liv {
    font-size: 150px;
    margin: 0px 5px 0px 5px;
  }
  .descriptSize {
    font-size: 25px;
  }
  .outside {
    font-size: 90px;
  }
  .the {
    font-size: 45px;
  }
  .box {
    font-size: 85px;
  }
  .sectionTitles {
    font-size: 60px;
  }
.processSize{
  height: 400px;
}
.hireText {
  height: 400px;
  font-size: 35px;
}
.footer{
  height: 300px;
}
.companyRow {
  margin: 5% 0;
}
.footerLogo {
}
