@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
  margin: 0;
  padding: 0;
}
.container960 {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container720 {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}
.responsive {
  width: 100%;
  height: auto
}

/* Header Control */
.header > li {
  list-style-type: none;
  display: inline;
  padding: 0 1%;
}
.headerLinks > a:link {
 text-decoration: none;
 list-style: none;
 color: rgba(243, 178, 28, 1);
}
.headerLinks > a:visited{
text-decoration: none;
list-style: none;
color: rgba(243, 178, 28, 1);
}
.headerLinks > a:hover {
text-decoration: none;
list-style: none;
color:gray;
}
.headerLinks > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.header {
  text-align: center;
}

/* Header Control */
.mainPic > img {
  display:block;
  margin: 0 auto;
  background-color: rgba(255, 250, 250, 0.5);
}
#logoImg {
  max-height: 40px;
}
.mainDescription {
    background-color: rgba(243, 178, 28, 1);
    color: white;
}
.servicesInfo {
  background-color: rgba(243, 178, 28, 1);
  color: white;
}
.livDescription > p {
  text-align: center;
  padding: 5% 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}
.sectionTitles {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(243, 178, 28, 1);
  font-size: 5vw;
}
.sectionTitlesReverse{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(243, 178, 28, 1);
  font-size: 5vw;
}
.businessDev{
  background-image: url(/images/business.jpeg);
  background-repeat: no-repeat;
}
.branding{
  background-image: url(/images/brand.jpeg);
  background-repeat: no-repeat;
}
.creative{
  background-image: url(/images/creative.jpeg);
  background-repeat: no-repeat;
}
.backgroundImageControl{
  background-size: cover;
  background-repeat: no-repeat;
}
.skillsList {
  text-align: center;
  list-style: none;
  font-family: 'Cousine', monospace;
}
.titleFont {
  font-family: 'Cousine', monospace;
}

/* Image rows */
* {
  box-sizing: border-box;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  padding: 0 30px;
}
.servicesColumn{
  float: Left;
  width: 25%;
}
.flyerColumns {
  float: Left;
  width: 25%;
}
.hireColumn {
  float: left;
  width: 49%;
  padding: 5px;
}
.mailerColumns{
  float: left;
  width:33%
}
.companyColumn {
  float: left;
  width: 11%;
  /* padding: 5px; */
}
.boutique {
  background-image: url("/images/boutique-business.jpeg");
}
.smallBusiness {
  background-image: url("/images/small-business.jpeg");
}
.largebusiness {
  background-image: url("/images/fortune-500.jpg");
}
.hireText {
  background-color: rgba(243, 178, 28, 1);
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 400px;
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.grayscale > background-image:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 600px;
}
/* Footer Control */
.footerPic{
  height: 40px;
  padding: 20px;
}
.footer {
  background-color: rgba(243, 178, 28, 1);
  margin: 0 auto;
  padding: 30px 0 0 0;
}
.footerInfo {
  color: white;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}
 .link > a:link {
  text-decoration: none;
  list-style: none;
}
.links > a:visited{
 text-decoration: none;
 list-style: none;
 color:white;
}
.links > a:hover {
 text-decoration: none;
 list-style: none;
 color:gray;
}
.links > a {
  font-size: 3vw;
  text-align: center;
}
.copyright {
  background-color: rgba(243, 178, 28, 1);
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:30px 0 0 0;
}
.footerColumn {
  float: left;
  width: 30%;
  margin: 0 auto;
  padding: 0 0 0 10px;
  font-size: 2vw;
}
.footer{
  height: 500px;
}
.footerLogo {
  max-width:100px;
}
/* End of Footer control */

/* Services Page */
.businessDevList, .brandingList, .creativeList {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
.processWords{
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3vw;
  top: 50%;
  text-shadow: 2px 2px 8px black;
}
.processSize{
  height: 400px;
}
.servicesLogo{
  background-color: rgba(243, 178, 28, 1);
  height: 100px;
}
.descripWords {
  color:gray;
  font-weight: 800;
  font-style: italic;
}
.workSpace > p {
  margin: 10px 0 0 0;
}
.phrase {
  font-family: 'Zilla Slab Highlight', cursive;
  color: white;
  font-size: 5vw;
}
.businessDevList, .brandingList, .creativeList > li {
  font-size: 3vw;
}
.fontWeight {
  font-weight: 800;
}
/* CONNECT PAGE FORM */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgba(243, 178, 28, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(243, 178, 28, 1);
}

div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
}
