@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: white;
}
.border{
  border: 5px solid red;
}
.container960 {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container720 {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}
.responsive {
  width: 100%;
  height: auto
}
.header > li {
  color: rgba(20, 19, 19, 1);
  list-style-type: none;
  display: inline;
  padding: 0 1%;
}
#logoImg {
  max-height:30px;
  margin: 0px auto;
  text-shadow: 2px 2px 4px #000000;
}
.mainDescription {
    background-color: rgba(243, 178, 28, 1);
    color: white;
}
.livDescription {
  text-align: center;
  padding: 5% 0;
  font-family: 'Montserrat', sans-serif;
}
.learnMore {
  border: 5px solid white;
}
.sectionTitles {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(243, 178, 28, 1);
}
.businessDev{
  background-color: red;
  background-image: url(/images/business.jpeg);
}
.branding{
  background-color: green;
  background-image: url(/images/brand.jpeg);
  background-repeat: no-repeat;
}
.creative{
  background-color: blue;
  background-image: url(/images/creative.jpeg);
}
.backgroundImageControl{
  background-size: cover;
  background-repeat: no-repeat;
}
.mainPic > img {
  display:block;
  margin: 0 auto;
  background-color: rgba(255, 250, 250, 0.5);
}
.header{
  text-align: center;
  margin: 30px;
}
.skillsList {
  text-align: center;
  list-style: none;
  font-family: 'Cousine', monospace;
}
.titleFont {
  font-family: 'Cousine', monospace;
}
.descriptionTitle, .descriptionOne, .descriptionTwo, .descriptionFinal, .skillsList {
  font-family: 'Manjari', sans-serif;
}
.descriptionTwo, .descriptionFinal, .descriptionTitle{
  margin: 20px;
  text-align: center;
}
.descriptionTitle {
  font-size: 20px;
  margin: 50px 0px 0px 0px;
}
.footerPic{
  height: 40px;
  padding: 20px;
}

/* Image rows */
* {
  box-sizing: border-box;
}
.row {
  padding: 0 30px;
}
.column {
  float: left;
  width: 33.33%;
}
.hireColumn {
  float: left;
  width: 49%;
  padding: 5px;
}
.companyColumn {
  float: left;
  width: 11%;
  /* padding: 5px; */
}
.boutique {
  background-image: url("/images/boutique-business.jpeg");
}
.smallBusiness {
  background-image: url("/images/small-business.jpeg");
}
.largebusiness {
  background-image: url("/images/fortune-500.jpg");
}
.hireText {
  background-color: rgba(243, 178, 28, 1);
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.grayscale > background-image:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 600px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column > img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.column > img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 600px;
}
