@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.placeholder{
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
}
.container960 {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container720 {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}
.responsive {
  width: 100%;
  height: auto
}
.tagline > img {
  display: block;
  /* position: absolute; */
  width: 50%;
}
.centeredImage {
  display: block;
  margin: 0 auto;
}
/* Navigation */
.noPadding {
  padding: 0;
}

/* Main page picture */
.mainPic {
  /* background-image: url(/images/main-page-pic.png);
  position: display;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover; */
  /* The image used */
 /* background-image: url(/images/think-differently.jpeg); */
 background-color: blue;
 /* Full height */
 height: 700px;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.sample {
  color: white;
  text-align: center;
}
/* End Main page picture */

/* Header Control */
.header > li {
  list-style-type: none;
  display: inline;
  padding: 0 1%;
}
.headerLinks > a:link {
 text-decoration: none;
 list-style: none;
 color: rgba(243, 178, 28, 1);
}
.headerLinks > a:visited{
text-decoration: none;
list-style: none;
color: rgba(243, 178, 28, 1);
}
.headerLinks > a:hover {
text-decoration: none;
list-style: none;
color:gray;
}
.headerLinks > a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding: 20px;
}
.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgba(63, 63, 63, 1);

}
/* END of Header Control */

#logoImg {
  max-height: 40px;
}

/* Main page description */

.servicesInfo {
  background-color: rgba(243, 178, 28, 1);
  color: white;
}
.livDescription > p {
  text-align: left;
  /* padding: 5% 0; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}
.columnMainDescrip {
  float: Left;
  width: 49%;
  margin: 0px auto;
}
.mainDescription {
  margin: 15%;
}
.mainDescripText {
  /* background-color: rgba(65, 65, 65, 1); */
  color: rgba(243, 178, 28, 1);
  font-size: 3vw;
}
.defineDesignDeliver{
  max-width: 400px;
  display: block;
}
.sectionTitles {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(243, 178, 28, 1);
  font-size: 2.5vw;
}
.sectionTitlesReverse{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  background-color: rgba(243, 178, 28, 1);
  font-size: 5vw;
}
.businessDev {
  background-image: url(/images/business.jpeg);
  background-repeat: no-repeat;
}
.branding{
  background-image: url(/images/brand.jpeg);
  background-repeat: no-repeat;
}
.creative{
  background-image: url(/images/creative.jpeg);
  background-repeat: no-repeat;
}
.businessSign {
  height: 100%;
  /* max-height: 200px; */
}
.backgroundImageControl{
  background-size: cover;
  background-repeat: no-repeat;
}
.skillsList {
  text-align: center;
  list-style: none;
  font-family: 'Cousine', monospace;
}
.titleFont {
  font-family: 'Cousine', monospace;
}

/* Image rows */
* {
  box-sizing: border-box;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  padding: 0 30px;
}
.servicesColumn{
  float: Left;
  width: 25%;
}
.flyerColumns {
  float: Left;
  width: 25%;
}
.hireColumn {
  float: left;
  width: 49%;
  padding: 5px;
}
.mailerColumns{
  float: left;
  width:33%
}
.companyColumn {
  float: left;
  width: 11%;
  /* padding: 5px; */
}
.boutique {
  background-image: url("/images/boutique-business.jpeg");
}
.smallBusiness {
  background-image: url("/images/small-business.jpeg");
}
.largebusiness {
  background-image: url("/images/fortune-500.jpg");
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.grayscale > background-image:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  width: 600px;
}

/* ASK LIV Layout */
.askLiv {
  background-color: rgba(5, 5, 10, 1);
}
.askImage {
  display: block;
  position: relative;
  width: 200px;
  margin: 0 0 0 10%;
}
.askColumn {
  float: left;
  width: 50%;
}
.hello {
  color:white;
  float: right;
  position: relative;
}
/* END ASK LIV */
/* Footer Control */
.footerPic{
  /* height: 40px; */
  /* padding: 20px; */
}
.footer {
  background-color: rgba(243, 178, 28, 1);
  /* margin: 0 auto; */
  /* padding: 30px 0 0 0; */
}
.footerInfo {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.footerInfo > span {
  font-size: 1vw;
}
 /* .link > a:link {
  text-decoration: none;
  list-style: none;
}
.links > a:visited{
 text-decoration: none;
 list-style: none;
 color:white;
}
.links > a:hover {
 text-decoration: none;
 list-style: none;
 color:gray;
}
.links > a {
  font-size: 1vw;
  text-align: center;
} */
/* .copyright {
  background-color: rgba(243, 178, 28, 1);
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:30px 0 0 0;
} */
.footerFrontColumn {
  float: left;
  width: 70%;
  margin: 0 auto;
  /* padding: 0 0 0 10px; */
  /* font-size: 2vw; */
}
.footerLogo {
  max-width:100px;
}
.footerSpacing {
  margin: 0 10px 0 0;
}
.footerColor {
  color: gray;
}
/* End of Footer control */

/* Services Page */
.businessDevList, .brandingList, .creativeList {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
.processWords{
  color: white;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 800; */
  /* font-size: 3vw; */
  top: 50%;
  text-shadow: 2px 2px 8px black;
}
.hireText {
  /* background-color: rgba(243, 178, 28, 1);
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 400px; */
  background-color: rgba(63, 63, 63, 1);
}
.processSize{
  height: 250px;
}
.hireSize{
  height: 250px;
}
.servicesLogo{
  background-color: rgba(243, 178, 28, 1);
  height: 100px;
}
.livwords {
  color:rgba(66, 66, 66, 1);
  /* font-weight: 800; */
}
.livwordsTitle {
  color: rgba(243, 178, 28, 1);
  font-weight: 600;
}
.workSpace > p {
  margin: 10px 0 0 0;
}
.phrase {
  font-family: 'Zilla Slab Highlight', cursive;
  color: white;
  font-size: 5vw;
}
.businessDevList, .brandingList, .creativeList > li {
  font-size: 3vw;
}
.fontWeight {
  font-weight: 800;
}
/* CONNECT PAGE FORM */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgba(243, 178, 28, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(243, 178, 28, 1);
}

div {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
}
